page-login {
  .bg-image {
    background-image: url('../assets/imgs/loginbg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .no-scroll .scroll-content {
    overflow: hidden;
  }
 .logo {
      display: block;
      background-size:cover;
      margin-bottom: 20px !important;
      margin: 20px auto 0;
      width: 80px;
      height: 80px;
    }

  .text {
    text-align: center;
    margin-top: 30vh;
  }
  
  .forgot-password {
    height: 44px;
    font-size: 15px;
    color: #000;
    text-align: center;
    display:block;
}

}
