page-home {
    .no-data{
        margin: 10px;
        font-size: 18px;
        color: #a08046;
    }
    .link
    {
       display: -webkit-inline-box;
    cursor: pointer;
    text-decoration: underline;
    color:blue;
    }
}
