
<ion-header>
    <ion-navbar color="pqsBlue" [class.header-background]="showToolbar"  >
        <!--<ion-buttons (click)="closeModal()" >
            <button color="light" ion-button icon-only>
                <ion-icon name="md-close"></ion-icon>CLOSE
            </button>
        </ion-buttons>-->
    <ion-title>perqs</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>

  <div id="profile1-info" class="test-class" padding>

    <img src="{{locationItem.locationImage}}" width="100" height="100">
    <h3 id="profile1-name">{{locationItem.name}}</h3>
    <p>{{locationItem.city}}, {{locationItem.state}}</p>
    <!--<p>{{(profile2 | async)?.company}} &bull; {{(profile2 | async)?.position}}</p> -->
    <button ion-button *ngIf="!following"  block color="pqsOrange" (click)="follow()">Follow</button>
    <button ion-button icon-left *ngIf="following"  block color="gray" (click)="follow()">
      <ion-icon name="checkmark"></ion-icon>
      Following
    </button>
  </div>


<!--***********  About  ***********-->

  <ion-list no-lines text-wrap>
      <ion-list-header>
        <h2> Announcement</h2>
      </ion-list-header>
      <ion-item>
        <p class="profile1-description">{{locationItem.announcement}}</p>
      </ion-item>
  </ion-list>

  <!--***********  Segement tab ***********-->
  <ion-segment mode="md" [(ngModel)]="segmentView" color="dkBlue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="one">
      Featured
    </ion-segment-button>
    <ion-segment-button value="two">
      Perqs
    </ion-segment-button>
    <ion-segment-button value="three">
      More
    </ion-segment-button>
  </ion-segment>

  <!--***********  Segement one ***********-->
  <div *ngIf="segmentView ==='one'">
    <!--<ion-list no-lines padding>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/chair-1.png">
          </ion-thumbnail>
          <h2>Perq Name</h2>
          <h3>Location Name</h3>
          <p>Expires in 3..2..1..</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/chair-1.png">
          </ion-thumbnail>
          <h2>Perq Name</h2>
          <h3>Location Name</h3>
          <p>Expires in 3..2..1..</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/chair-1.png">
          </ion-thumbnail>
          <h2>Perq Name</h2>
          <h3>Location Name</h3>
          <p>Expires in 3..2..1..</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/chair-1.png">
          </ion-thumbnail>
          <h2>Perq Name</h2>
          <h3>Location Name</h3>
          <p>Expires in 3..2..1..</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/chair-1.png">
          </ion-thumbnail>
          <h2>Perq Name</h2>
          <h3>Location Name</h3>
          <p>Expires in 3..2..1..</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/chair-1.png">
          </ion-thumbnail>
          <h2>Perq Name</h2>
          <h3>Location Name</h3>
          <p>Expires in 3..2..1..</p>
        </ion-item>
    </ion-list>-->
    <p>No features added Yet!</p>
  </div>

  <!--***********    Segement two  ***********-->
  <div *ngIf="segmentView ==='two'">
       <div *ngIf="items.length == 0" class="no-data">
      Sorry! We couldn't find any Perqs near you.
      <p class="link" (click)="openLink()">Click here</p> to bring Perqs to your town
    </div>
    <div *ngIf="items.length != 0">
      <div *ngFor="let item of items">
        <ion-list no-lines padding>
          <ion-item tappable (click)="showDetail(item)">
            <ion-thumbnail item-start>
              <img src={{item.perqImage}}>
            </ion-thumbnail>
            <h2>{{item.perqName}}</h2>
            <p>{{item.perqLocation}}</p>
            <p [innerHtml] = loadFormatedDate(item.expires)></p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <!--***********    Segement three  ***********-->
  <div *ngIf="segmentView ==='three'">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button icon-only round color="browseIcon">
            <ion-icon name="ios-call-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-only round color="browseIcon">
            <ion-icon name="ios-map-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-only round color="browseIcon">
            <ion-icon name="logo-snapchat"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-only round color="browseIcon">
            <ion-icon name="logo-instagram"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button icon-only round color="browseIcon">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
